.article-container{
    background-color: $primary-white;
    height: 30rem;
    display: flex;
    flex-direction: column;
    border-radius: $border-radius;
    img{
        display: block;
        width: 100%;
        height: 45%;
        object-fit: cover;
        object-position: top;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }
    .category{
        font-family: $interV_Bold;
        color:$primary-blue;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }
    .title{
        font-family: $interV_Medium;
        font-size: 1.6rem;
        color: $primary-black;
    }
    .author{
        font-family: $interV;
        font-size: 1.2rem;
        color: $primary-black-light;
        margin-top: auto;
    }
    .info-container{
        margin: 1.2rem;
        display: flex;
        flex-direction: column;
    }
    .bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .btn-bookmark{
        color: $primary-black;
        cursor: pointer;
        &:hover{
            color:$primary-blue
        }
    }
}