.navbar{
    flex: 0 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10%;
    filter: $primary-shadow;
    width: 100%;
    background-image: url("../../assets/img/Header_img.png");
    background-size: cover;
    .head-1{
        font-size: 1.6rem;
        font-family: $interV_Bold;
        color: $primary-color;
    }
    .head-2{
        font-family: $interV;
        text-shadow: $primary-shadow;
        color: $text-color;
        margin-right: 15rem;
        font-size: 1.4rem;
    }
    .btn-nav{
        width: 7rem;
        height: 4rem;
        background-color: $primary-color;
        color: $primary-header-color;
        font-family: $interV_Bold;
        font-size: 1.4rem;
        margin-left: 7rem;
    }
    .head-3{
        color: $primary-color;
        filter: $primary-shadow $primary-shadow;
        font-family: $interV_Bold;
        font-size: 1.4rem;
        margin-right: 10rem;
    }
}