.sidebar{
    .link{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 6.3rem;
        height: 6.3rem;
        color: $primary-black-light;
        opacity: 0.5;
        font-family: $interV_Semi;
        font-size: 1rem;

    }
    .active{
        background: $primary-white;
        border-radius: 5px;
        color: $primary-red;
        opacity: 1;
    }
    img{
        margin-bottom: 0.5rem;
    }
    &-mobile{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 36px 28px auto 30px;
        row-gap: 1em;
        column-gap: 2em;
        .link{
            width: 10rem;
            height: 10rem;
        }
        .active{
            box-shadow: 5px 5px 20px #C8CAD1, -5px -5px 20px #C8CAD1;
        }
    }
   
}