.page-content {
    display: flex;
    margin: 2.4rem 10%; 
    .news-page{
        flex: 1;
        margin-left: 2.5rem;
    .title{
        font-size: 1.8rem;
        font-family: $interV_Semi;
        color: $primary-black-light;
        margin-bottom: 1.6rem;
        text-transform: capitalize;
    }
    .articles-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 2.2rem;
    }
}
}