.news-page{
    padding: 0 0 0 2.5rem;
    width: 100%;
    .title{
        font-size: 1.8rem;
        font-family: $interV_Semi;
        color: $primary-black-light;
        margin-bottom: 2.5rem;
        text-transform: capitalize;
    }
    .articles-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 2.2rem;
    }
}