/* Loading */
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.loading {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: $primary-black;
    animation: spinner 0.6s linear infinite;
    margin: 0 auto;
}