@font-face {
    font-family: "InterV_Medium";
    src: url("../assets/fonts/Inter-Medium.otf");
}

@font-face {
    font-family: "InterV";
    src: url("../assets/fonts/Inter-Regular.otf");
}

@font-face {
    font-family: "InterV_Semi";
    src: url("../assets/fonts/Inter-SemiBold.otf");
}

@font-face {
    font-family: "InterV_Bold";
    src: url("../assets/fonts/Inter-Bold.otf");
}