// Colors
$background-color: #F4F5F8;
$primary-color: #fff;
$primary-blue-color: #1E71BB;
$primary-header-color: #1D1D1B;
$text-color: #000;
$primary-red:#BB1E1E;
// Fonts
$interV_Bold: "InterV_Bold";
$interV: "InterV";
$interV_Semi: "InterV_Semi";
$interV_Medium: "InterV_Medium";

// Shadows
$primary-shadow:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

// Borders
$border-radius-img: 12px;